@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap");

.animals-image {
  width: 30%;
}
.background-image {
  width: 100%;
  background: url("https://mobirise.com/extensions/kidsm4/assets/images/school.jpg")
    100% 100% / cover;
  height: 100vh;
  display: flex;
  align-items: center;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}
.menu-items {
  justify-content: center;
}
li {
  padding: 25px;
}
.school-text {
  background-color: #79c8e8;
  color: #ffffff;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}
.course-text {
  color: #12265a;
  font-size: 5.37rem;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
}
p {
  font-family: "mulish" sans-serif;
}
.btn {
  background: #ffc85b;
  background-image: -webkit-linear-gradient(top, #ffc85b, #ffc85b);
  background-image: -moz-linear-gradient(top, #ffc85b, #ffc85b);
  background-image: -ms-linear-gradient(top, #ffc85b, #ffc85b);
  background-image: -o-linear-gradient(top, #ffc85b, #ffc85b);
  background-image: linear-gradient(to bottom, #ffc85b, #ffc85b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.1rempx;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #007bff;
  background-image: -webkit-linear-gradient(top, #007bff, #007bff);
  background-image: -moz-linear-gradient(top, #007bff, #007bff);
  background-image: -ms-linear-gradient(top, #007bff, #007bff);
  background-image: -o-linear-gradient(top, #007bff, #007bff);
  background-image: linear-gradient(to bottom, #007bff, #007bff);
  text-decoration: none;
}

.children-image {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 2px dashed;
}

.entertainment-background {
  background-color: #f2f6ff;
}
.Entertainment-text {
  font-size: 48px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}
.text-background-about-color {
  background-size: 100% 0.521em;
  display: inline;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(
    to top,
    rgba(250, 157, 183, 0.5),
    rgba(250, 157, 183, 0.5)
  );
  background-repeat: no-repeat;
  background-position: 0% 74%;
}

.text-background-entertainment-color {
  background-size: 100% 0.521em;
  display: inline-block;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(
    to top,
    rgba(255, 200, 91, 0.5),
    rgba(255, 200, 91, 0.5)
  );
  background-repeat: no-repeat;
  background-position: 0% 74%;
}

.card-column{
  padding:3% 2%;
}
.card-playground-background-color{
  padding-top: 26px;
  padding-bottom: 26px;
  color: #ffffff;
  background: #fa9db7;
  border-radius: 30px;
}
.card-entertainment-background-color{
  padding-top: 26px;
  padding-bottom: 26px;
  color: #ffffff;
  background: #45b3df;
  border-radius: 30px;
}
.card-environment-background-color{
  padding-top: 26px;
  padding-bottom: 26px;
  color: #ffffff;
  background: #ffc85b;
  border-radius: 30px;
}
.card-text{
  width: 55%;
  display: -webkit-inline-box;
}
.school-educational-image{
  width: 80px;
}
.center-container{
  align-items: center;
  justify-content: center;
}
.school-education-text{
  font-size: 3rem;
  font-weight: 900;
  color: #12265a;
}
.font-family-nunito{
  font-family: "Nunito", sans-serif;
}
.font-family-muli{
  font-family: 'Muli', sans-serif;
}
.lorem-ipsum-text{
  font-size: 1.1rem;
  color: #767676;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0;
}
.school-education-lorem-text{
  width: 55%;
  text-align: center;
  display: inline-flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.school-educational-title-text{
  font-family: 'Nunito', sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    color: #12265a;
}
.school-educational-title-text:hover{
  color: #e83e8c;
  transition: 0.5s;
}
.time-background{
  background-color: #88d4f2;
}

.time-number-text{
  color: #fff;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
}
.time-hour-text{
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  color: #fff;
}
.svg-2 {
  fill:#fff;
  
  margin-top: -8px;
}
.svg-1{
  fill: #fff;
}
.pic-width{
  width: 100%;
  height: 95%;
  border-radius: 30px;
  position: relative
}
.pic-width:hover{
  position: relative;
    transition: 0.5s;
    margin: 0.3rem;
    border-radius: 30px;
    overflow: hidden;
}
.star-text{
  background: #f4f8fa;
  font-weight: 900;
  margin: 0px;
      font-family: 'Nunito', sans-serif;
      font-size: 1.75rem;
}
.text-boxes {
  background-color: #f4f8fa;
  border: 3px dashed #FA9DB7;
  border-radius: 25px;
  padding: 30px;

}
.text-boxes h2 {
  font-size: 1.75rem;
  font-weight: 900;
  color: #12265A;
  font-family: 'Nunito', sans-serif;
}
.text-boxes h2:hover {
  color: #FA9DB7;
  transition: 0.4s;
  cursor: pointer;
}
